<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h3 class="card-title">Contacts</h3>
    <h4 class="card-subtitle mb-2 text-muted">Email</h4>
    <p class="card-text">main@barbershop.com</p>
  </div>
</div>

<form action="/contacts" method="post" class="form-horizontal">
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Feedback:</label>
    <textarea class="form-control" name="feedback" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Send feedback</button>
</form>